{% load staticfiles %}
<html>
<head>
	<title>URL Expander</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static "css/webcapture.css" %}">
</head>
<body>
	<div>
		<h1>Lab 3: Webcapture</h1>
	</div>

	<div>
		{% if user.is_authenticated %}
		<p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>
		<b>Enter Orginal URL: </b>
		<a href="{% url 'post_new' %}">post new</a>
		{% else %}
		<a href="{% url 'django.contrib.auth.views.login' %}">lock</a>
		{% endif %}
		<br>
		<br>
		<br>
	</div>

	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>