{% extends "blog/base.html" %}

{% block content %}
	<p>Original URL: {{ post.original_url }} </p>
	<p>Final URL: {{ post.final_url }} </p>
	<p>Title: {{ post.title }} </p>
	<p>Html Status: {{ post.html_status }} </p>

	{% if user.is_authenticated %}
	<a href="{% url "post_edit" pk=post.pk %}">Edit</a> | 
	<a href="{% url "post_remove" pk=post.pk %}">Remove</a>
	<br>
	<a href="{% url "post_list" %}">See URL List</a>
	{% else %}
	<a href="{% url 'django.contrib.auth.views.login' %}">lock</a>
	{% endif %}


{% endblock %}